# Created by https://www.gitignore.io/api/jekyll
### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
# End of https://www.gitignore.io/api/jekyll
.DS_Store
assets/video/to-teh-beach.cmproj/media/1612518020.374881/20210205_103858.mp4
assets/video/to-teh-beach.cmproj/media/1612517466.696901/20210131_145710.mp4
assets/video/to-teh-beach.cmproj/media/1612518020.375552/20210205_103942.mp4
*.mp4
*.mov
assets/video/iltasmaja-guesthouse.cmproj/media/1612883819.750278/bensound-sunny.mp3
assets/video/iltasmaja-guesthouse.cmproj/media/1612883819.749852/iltasmajalogo-colored.png
assets/video/iltasmaja-guesthouse.cmproj/bookmarks.plist
assets/video/iltasmaja-guesthouse.cmproj/project.tscproj
assets/video/iltasmaja-guesthouse.cmproj/docPrefs
assets/video/iltasmaja-light-sauna.cmproj/docPrefs
assets/video/data-product-trust.cmproj/bookmarks.plist
assets/video/data-product-trust.cmproj/docPrefs
assets/video/data-product-trust.cmproj/media/1613324355.492258/data-bg10.png
assets/video/data-product-trust.cmproj/media/1613324355.493391/1-02-white.png
assets/video/data-product-trust.cmproj/media/1613324355.493746/1-02-bg.png
assets/video/data-product-trust.cmproj/media/1613324355.494091/1-02-trans.png
assets/video/data-product-trust.cmproj/media/1613324355.494889/ES_Big Plans (Sting) - Jan Chmelar.mp3
assets/video/data-product-trust.cmproj/media/1613324355.495607/1-02-bg2.png
assets/video/data-product-trust.cmproj/media/1613324355.495955/1-02-bg3.png
assets/video/data-product-trust.cmproj/media/1613324355.496268/1-02-bg4.png
assets/video/data-product-trust.cmproj/media/1613324355.496574/logo-circle.png
assets/video/data-product-trust.cmproj/media/1613324355.496891/1-02-bg5.png
assets/video/data-product-trust.cmproj/media/1613324355.497556/data-bg5.png
assets/video/data-product-trust.cmproj/media/1613324355.497817/1-04-simple.jpg
assets/video/data-product-trust.cmproj/media/1613324355.498073/toni-jarkko2.jpg
assets/video/data-product-trust.cmproj/media/1613324355.498307/share-image-front.png
assets/video/data-product-trust.cmproj/media/1613324355.498595/cxo2phd2.png
assets/video/data-product-trust.cmproj/media/1613324355.498993/cust-intro.mp3
assets/video/data-product-trust.cmproj/media/1613324355.499416/pngkey.com-unreal-engine-4-logo-2752551.png
assets/video/data-product-trust.cmproj/media/1613324355.499973/Näyttökuva 2021-1-9 kello 12.17.37.png
assets/video/data-product-trust.cmproj/media/1613324355.500992/stack2.mp3
assets/video/data-product-trust.cmproj/media/1613324355.502225/two-groups.mp3
assets/video/data-product-trust.cmproj/media/1613324355.503318/change.mp3
assets/video/data-product-trust.cmproj/media/1613324355.503801/cust-end.mp3
assets/video/data-product-trust.cmproj/media/1613324355.504203/list-5-items.mp3
assets/video/data-product-trust.cmproj/media/1613372629.242802/first.mp3
assets/video/data-product-trust.cmproj/media/1613415544.806176/second_old.mp3
assets/video/data-product-trust.cmproj/media/1613415544.809008/second_old_old.mp3
assets/video/data-product-trust.cmproj/media/1613415544.809407/second.mp3
assets/video/data-product-trust.cmproj/media/1613416473.159878/third.mp3
assets/video/data-product-trust.cmproj/media/1613419623.705462/fourth.mp3
assets/video/data-product-trust.cmproj/media/1613461785.917195/fifth.mp3
assets/video/data-product-trust.cmproj/project.tscproj
assets/video/iltasmaja-light-sauna.cmproj/bookmarks.plist
assets/video/iltasmaja-light-sauna.cmproj/media/1613226110.349222/iltasmajalogo-colored.png
assets/video/iltasmaja-light-sauna.cmproj/media/1613226110.349681/bensound-sunny.mp3
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.776155/Rec 2-13-2021.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.777224/Rec 2-13-2021 1.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.777507/Rec 2-13-2021 2.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.777723/Rec 2-13-2021 3.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.777931/Rec 2-13-2021 4.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.778139/Rec 2-13-2021 5.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.778348/Rec 2-13-2021 6.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.778565/Rec 2-13-2021 7.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.778793/Rec 2-13-2021 8.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.778988/Rec 2-13-2021 9.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.779197/Rec 2-13-2021 10.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.779408/Rec 2-13-2021 11.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.779603/Rec 2-13-2021 12.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.779799/Rec 2-13-2021 13.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.780024/Rec 2-13-2021 14.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.780233/Rec 2-13-2021 15.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.780445/Rec 2-13-2021 16.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.780678/Rec 2-13-2021 17.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.780874/Rec 2-13-2021 18.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.781193/Rec 2-13-2021 19.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.781410/Rec 2-13-2021 20.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.781617/Rec 2-13-2021 21.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.781821/Rec 2-13-2021 22.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.782016/Rec 2-13-2021 23.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.782212/Rec 2-13-2021 24.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.782423/Rec 2-13-2021 25.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.782625/Rec 2-13-2021 26.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.782826/Rec 2-13-2021 27.m4a
assets/video/iltasmaja-light-sauna.cmproj/media/1613240983.783030/Rec 2-13-2021 28.m4a
assets/video/iltasmaja-light-sauna.cmproj/project.tscproj
