<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/jarkkomoilanen/Desktop/pikku-sappee-kartalla2.mov</key>
	<data>
	Ym9vawwDAAAAAAQQMAAAAIpZ2ddF23taIQc8molz37NRnvGPrXnrJ6TOat3KcA6C/AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAHAAAAAQEAAERlc2t0b3AAGgAAAAEBAABwaWtrdS1zYXBwZWUta2FydGFsbGEyLm1v
	dgAAEAAAAAEGAAAQAAAAIAAAADgAAABIAAAACAAAAAQDAACcUwAAAAAAAAgAAAAEAwAA
	u3kFAAAAAAAIAAAABAMAAMB5BQAAAAAACAAAAAQDAADyjzEBAAAAABAAAAABBgAAhAAA
	AJQAAACkAAAAtAAAAAgAAAAABAAAQcLmDcYrtzwYAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwez9
	X8JzpiQAAAABAQAAQjkxNTg4NUEtNjlENC00MTU5LUJBRDYtNzlDQjE4NDRDNzU3GAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoA
	AAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQAAAADAwAA4wwAANgAAAD+
	////AQAAAAAAAAARAAAABBAAAGwAAAAAAAAABRAAAMQAAAAAAAAAEBAAAOwAAAAAAAAA
	QBAAANwAAAAAAAAAAiAAALgBAAAAAAAABSAAACgBAAAAAAAAECAAADgBAAAAAAAAESAA
	AGwBAAAAAAAAEiAAAEwBAAAAAAAAEyAAAFwBAAAAAAAAICAAAJgBAAAAAAAAMCAAAMQB
	AAAAAAAAAcAAAAwBAAAAAAAAEcAAACAAAAAAAAAAEsAAABwBAAAAAAAAENAAAAQAAAAA
	AAAAzAEAgPABAAAAAAAA
	</data>
	<key>/Users/jarkkomoilanen/Desktop/pikku-sappee-kartta.mov</key>
	<data>
	Ym9vawgDAAAAAAQQMAAAAIiBkKUChX0TeuqK7/8fPf72IzytuO/2ZqwlYSmrOX/V+AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAHAAAAAQEAAERlc2t0b3AAFwAAAAEBAABwaWtrdS1zYXBwZWUta2FydHRhLm1vdgAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEgAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAAwHkFAAAAAAAIAAAABAMAALyLMQEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuYNUXwTIRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAGgAAAAEB
	AABOU1VSTERvY3VtZW50SWRlbnRpZmllcktleQAABAAAAAMDAADfDAAA2AAAAP7///8B
	AAAAAAAAABEAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABAEAAA
	2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAAaAEA
	AAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEAAAAA
	AAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAAAADI
	AQCA7AEAAAAAAAA=
	</data>
	<key>/Users/jarkkomoilanen/Downloads/20210122_170809.mp4</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAIVK0gFRvW5fPM/p3Jb1oBE8IfqFIxtVY18ekIUV/19RyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvd25sb2FkcwAAABMAAAABAQAAMjAyMTAxMjJfMTcwODA5Lm1wNAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAA7nkFAAAAAAAIAAAABAMAACSDMQEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuYMlwUkWxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>/Users/jarkkomoilanen/Downloads/20210205_103858.mp4</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAM+1wO4vBVqjz8yUgLOUDLbj+2gj/yJsjrCWmzKvDOspyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvd25sb2FkcwAAABMAAAABAQAAMjAyMTAyMDVfMTAzODU4Lm1wNAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAA7nkFAAAAAAAIAAAABAMAABq7MgEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuajJinTChgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>/Users/jarkkomoilanen/Downloads/20210205_103942.mp4</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAABXFQI8V0Bj087eP62VqZ0OAgUyLJcCPXouT0p2LA9CLyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvd25sb2FkcwAAABMAAAABAQAAMjAyMTAyMDVfMTAzOTQyLm1wNAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAA7nkFAAAAAAAIAAAABAMAAF67MgEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuajLGY3uRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>/Users/jarkkomoilanen/Downloads/20210205_104030.mp4</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAJNRFuDLCBX9CdcdTDpzHPJOkwIAG/CDNADXMFDOzCLUyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvd25sb2FkcwAAABMAAAABAQAAMjAyMTAyMDVfMTA0MDMwLm1wNAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAA7nkFAAAAAAAIAAAABAMAAIy7MgEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuajMOZGNRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>/Users/jarkkomoilanen/Downloads/20210205_104136.mp4</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAMGKI4WJHpzAed2FkIWs6cN7f6oPN7hFH0TU5zPKVPYZyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvd25sb2FkcwAAABMAAAABAQAAMjAyMTAyMDVfMTA0MTM2Lm1wNAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAA7nkFAAAAAAAIAAAABAMAALm7MgEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuajN024/hgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
</dict>
</plist>
