<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/jarkkomoilanen/Documents/GitHub/iltasmaja.fi/assets/images/logo/iltasmajalogo-colored.png</key>
	<data>
	Ym9va9gDAAAAAAQQMAAAAJYv5A+7wj2pJXXlTshMEnihTB68eXIxV0CmaDZs4+PnyAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvY3VtZW50cwAAAAYAAAABAQAAR2l0SHViAAAMAAAAAQEAAGlsdGFz
	bWFqYS5maQYAAAABAQAAYXNzZXRzAAAGAAAAAQEAAGltYWdlcwAABAAAAAEBAABsb2dv
	GQAAAAEBAABpbHRhc21hamFsb2dvLWNvbG9yZWQucG5nAAAAJAAAAAEGAAAQAAAAIAAA
	ADgAAABMAAAAXAAAAHAAAACAAAAAkAAAAJwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQD
	AAC7eQUAAAAAAAgAAAAEAwAA7HkFAAAAAAAIAAAABAMAAAidEQAAAAAACAAAAAQDAADD
	dh4BAAAAAAgAAAAEAwAArXceAQAAAAAIAAAABAMAAMp3HgEAAAAACAAAAAQDAACcMiAB
	AAAAAAgAAAAEAwAAGRsrAQAAAAAkAAAAAQYAAOwAAAD8AAAADAEAABwBAAAsAQAAPAEA
	AEwBAABcAQAAbAEAAAgAAAAABAAAQcLi1kwyoOAYAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBwez9
	X8JzpiQAAAABAQAAQjkxNTg4NUEtNjlENC00MTU5LUJBRDYtNzlDQjE4NDRDNzU3GAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoA
	AAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQAAAADAwAAhgsAANgAAAD+
	////AQAAAAAAAAARAAAABBAAAMAAAAAAAAAABRAAAHwBAAAAAAAAEBAAALgBAAAAAAAA
	QBAAAKgBAAAAAAAAAiAAAIQCAAAAAAAABSAAAPQBAAAAAAAAECAAAAQCAAAAAAAAESAA
	ADgCAAAAAAAAEiAAABgCAAAAAAAAEyAAACgCAAAAAAAAICAAAGQCAAAAAAAAMCAAAJAC
	AAAAAAAAAcAAANgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAOgBAAAAAAAAENAAAAQAAAAA
	AAAAmAIAgLwCAAAAAAAA
	</data>
	<key>/Users/jarkkomoilanen/Downloads/20210131_145710.mp4</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAPGPi1bGxvIOENeEOcEnaafnkpNkmi9ETzPDEOlLpobZyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvd25sb2FkcwAAABMAAAABAQAAMjAyMTAxMzFfMTQ1NzEwLm1wNAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAA7nkFAAAAAAAIAAAABAMAAESsLAEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuN0u62bzBgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>/Users/jarkkomoilanen/Downloads/bensound-sunny.mp3</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAGfvw3IGFbL7HtN+wtnXjsCDzCOfRyMPkVEm7oE+A76ByAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAGphcmtrb21vaWxhbmVu
	AAAJAAAAAQEAAERvd25sb2FkcwAAABIAAAABAQAAYmVuc291bmQtc3VubnkubXAzAAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAAJxTAAAAAAAACAAAAAQDAAC7eQUA
	AAAAAAgAAAAEAwAA7nkFAAAAAAAIAAAABAMAAL+yLAEAAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBwuN3L+cqTxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB7P1fwnOm
	JAAAAAEBAABCOTE1ODg1QS02OUQ0LTQxNTktQkFENi03OUNCMTg0NEM3NTcYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
</dict>
</plist>
